@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* 
    white = #F2F3F7
    red = #DE736B
    blue? = #63778B
    green = #5D857A
    dark blue/grey = #515664
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background-color:#515664;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 5rem;
    color: #DE736B;
}
h3 {
    font-size: 2.5rem;
    color: #F2F3F7;
}

.container {
    height: 50%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center; 
}
/* ------------------------------------------------  */
.header {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}
.content {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: flex 1s;
}

.content .info {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    flex: 1;
    display: flex;
    justify-content: center;
}

#search {
    height: 4rem;
    padding: 4%;
    background-color: #F2F3F7;
    text-decoration: none;
    border: none;
    display: inline-block;
}
#search:focus {
    outline: none;
}

#button {
    height: 4rem;
    font-family: inherit;
    font-weight: 600;
    
    background-color: #5D857A;
    color: #F2F3F7;
    padding: 4%;
    text-decoration: none;
    border: none;
    display: inline-block;
}
#button:focus {
    outline: none;
}
#button:hover {
    background-color: #a6e6d5;
    color: #4e6e66;
    cursor: pointer;
}

.results {
    flex: 0;
    opacity: 0;
    transition: all 1s;
    font-size: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.message-1 {
    font-size: 2rem;
}
.message-2 {
    font-size: 3rem;
}

/* ------------------------------ */

.grow {
    flex: 2;
}